.bodyOffres {
    background-color: white;
    max-height: 35vh;
    overflow: auto;
}

.tableHeader {
    background-color: #2fa89a;
}

.titre {
    color: #26a69a;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 2vw;
    padding-bottom: 2vh;
}

h2 {
    color: #26a69a;
    font-weight: bolder;
}

@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		table, thead, tbody, th, td, tr {
            display: block;

		}

		thead tr {
            background-color: #2fa89a;

			position: absolute;
			top: -9999px;
            left: -9999px;



		}
        
        tr {
            margin: 0 0 1rem 0;

        }
        
      
    tr:nth-child(odd) {
      background: #ccc;

    }
    
		td {
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		td:before {
			position: absolute;
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
            white-space: nowrap;

		}
		
		td:nth-of-type(1):before { content: "Secteur"; }
		td:nth-of-type(2):before { content: "Offre"; }
		td:nth-of-type(3):before { content: "Ville"; }
		td:nth-of-type(4):before { content: "Voir détails"; }
		
	}